{% extends 'base.html.twig' %}

{% block metaTitle %}
    Articles
{% endblock metaTitle %}

{% block main %}

    {% for article in articles %}

            <article class="article">
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                <p>{{ article.createdAt | date('y-m-d') }}</p>
                {% if article.category %}
                    <p>Catégorie de l article: {{ article.category.title }}</p>
                {% endif %}
            </article>
    {% endfor %}

{% endblock main %}

