{% extends 'base.html.twig' %}

{% block metaTitle %}
    Articles
{% endblock metaTitle %}

{% block main %}

    {% for article in articles %}
        {% if {{ article.category.title }} is defined %}

            <article class="article">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.content }}</p>
                    <p>{{ article.createdAt | date('y-m-d') }}</p>

            </article>
        {% endif %}
    {% endfor %}

{% endblock main %}

