{% extends 'base.html.twig' %}

{% block metaTitle %}
    Catégories
{% endblock metaTitle %}

{% block main %}

      {% for categorie in categories %}
         {% if categorie.published %}
             {% endif %}
                <article class="article">
                    <a href={{ path('categoryShow', {'id' : categorie.id}) }}>
                        <p>{{ categorie.title }}</p>
                        <p>{{ categorie.content }}</p>
                    </a>
                </article>
      {% endfor %}

  {% endblock main %}

