{% extends 'base.html.twig' %}

{% block metaTitle %}
    Titre
{% endblock metaTitle %}

{% block main %}

      {% for category in categories %}
         {% if category.published %}
             {% endif %}
                <article class="article">
                    <a href={{ path('categoryShow', {'id' : category.id}) }}>
                        <p>{{ category.title }}</p>
                        <p>{{ category.content }}</p>
                    </a>
                </article>
      {% endfor %}

  {% endblock main %}

