{% extends 'base.html.twig' %}

{% block metaTitle %}
    Une catégorie
{% endblock metaTitle %}

{% block main %}

<body>
    <article>
        <h1>{{ category.title }}</h1>
        <p>{{ category.content}} </p>
    </article>

</body>

{% endblock main %}
