{% extends 'base.html.twig' %}

{% block metaTitle %}
    Tags
{% endblock metaTitle %}

{% block main %}

    <article>
        <p style="background-color: {{ tag.color }}">{{ tag.title }}</p>

        {% for article in tag.articles %}
            <p>{{ article.title }}</p>
        {% endfor %}
    </article>

{% endblock main %}


